* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
}

nav {
  display: flex;
  width: 100%;
  height: 100px;
  color: white;
  background: #581B03;
  position: fixed;
  top: 0;
  left: 0;
}
nav .navbar-left {
  padding-left: 40px;
  display: flex;
  gap: 40px;
  align-items: center;
  flex: 1;
}
nav .navbar-left h1 {
  color: white;
}
@media screen and (max-width: 768px) {
  nav .navbar-left h1 {
    font-size: 21px;
  }
}
@media screen and (max-width: 620px) {
  nav .navbar-left h1 {
    font-size: 13px;
    padding-right: 20px;
  }
}
nav .navbar-left img {
  width: 85px;
  height: 80px;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  nav .navbar-left img {
    width: 50px;
    height: 45px;
  }
}
@media screen and (max-width: 620px) {
  nav .navbar-left img {
    width: 45px;
    height: 40px;
  }
}
@media screen and (max-width: 620px) {
  nav .navbar-left {
    gap: 15px;
    padding-left: 10px;
  }
}
nav .navbar-right {
  flex: 1.3;
  display: flex;
  align-items: center;
  padding-right: 40px;
}
nav .navbar-right ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
nav .navbar-right ul li {
  list-style: none;
  display: flex;
}
nav .navbar-right ul li a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  nav .navbar-right ul li a {
    font-size: 21px;
  }
}
@media screen and (max-width: 620px) {
  nav .navbar-right ul li a {
    font-size: 16px;
  }
}
nav .navbar-right ul .dropdown h1 {
  font-size: 30px;
}
@media screen and (max-width: 620px) {
  nav .navbar-right ul .dropdown h1 {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  nav {
    height: 10vh;
    width: 100%;
  }
}
header {
  width: 100%;
  height: 500px;
  background-image: url("../image/image 6.png");
  background-size: cover;
}

.dropbtn {
  padding: 16px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px black;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  background: rgb(189, 138, 91);
}

.COFFEE {
  color: white;
  display: grid;
  grid-template-rows: 0.6fr 1fr;
  height: 85vh;
  font-size: 20px;
  padding-right: 40px;
  padding-top: 20vh;
}
.COFFEE h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
@media screen and (max-width: 768px) {
  .COFFEE h1 {
    margin-top: 5px;
    height: 40px;
    margin-left: 10vh;
  }
}
.COFFEE img {
  width: 90vh;
}
@media screen and (max-width: 768px) {
  .COFFEE img {
    width: 45vh;
    margin-top: -200px;
  }
}
.COFFEE .in {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 65px;
}
.COFFEE .in .right {
  display: grid;
  grid-template-rows: 0.2fr 0.6fr;
}
.COFFEE .in .right h1 {
  font-size: 25px;
}
@media screen and (max-width: 768px) {
  .COFFEE .in .right h1 {
    padding-left: 55px;
    margin-top: -200px;
  }
}
.COFFEE .in .right .paragraph {
  font-size: 20px;
  padding-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .COFFEE .in .right .paragraph {
    display: none;
  }
}
.COFFEE .in .right .size {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 22px;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .COFFEE .in .right .size {
    padding-left: 55px;
    margin-top: -100px;
    height: 80px;
  }
}
.COFFEE .in .right .star {
  display: flex;
  flex-direction: row;
}
.COFFEE .in .right .star .color {
  color: yellow;
  font-size: 20px;
}
.COFFEE .in .right .star .color .fa:nth-child(5) {
  color: black;
}
@media screen and (max-width: 768px) {
  .COFFEE .in .right .star {
    position: absolute;
    top: 62vh;
    padding-left: 55px;
  }
  .COFFEE .in .right .star .color {
    font-size: 15px;
  }
}

.product {
  display: grid;
  grid-template-rows: 0.2fr 2fr;
  justify-items: center;
  padding-left: 45px;
  padding-right: 45px;
  margin-top: 20vh;
}
.product h1 {
  border: 1px solid rgb(224, 206, 206);
  padding: 20px;
  background-color: rgb(224, 206, 206);
  border-radius: 10px;
  color: black;
  width: 30%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .product {
    margin-top: -220px;
    margin-bottom: -80px;
  }
}
.coffee-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
  margin: 20px;
}
@media screen and (max-width: 768px) {
  .coffee-menu {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.coffee-menu .Group {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}
@media screen and (max-width: 768px) {
  .coffee-menu .Group {
    padding-top: -30px;
  }
}
.coffee-menu .Group img {
  margin-top: 50px;
}
.coffee-menu .Group .right {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.coffee-menu .Group .right h1 {
  margin-top: 42px;
}
.coffee-menu .Group .right .select {
  margin-top: 8%;
}
@media screen and (max-width: 768px) {
  .coffee-menu .Group .right .select {
    margin-top: 5%;
  }
}
.coffee-menu .Group .right .select select {
  width: 20vh;
  height: 30px;
  border-radius: 10px;
}
.coffee-menu .Group .right .select input[type=text] {
  width: 8%;
  height: 50%;
  text-align: center;
  margin-left: 90px;
}
.coffee-menu .Group .right .select button {
  background: rgb(47, 47, 129);
  color: white;
  width: 25%;
  height: 60%;
  border-radius: 5px;
}

.Specail-coffee {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 40px;
  color: white;
}
.Specail-coffee .buy h1 {
  font-size: 50px;
}
.Specail-coffee .buy button {
  background: red;
  width: 150px;
  height: 50px;
  margin-top: 20vh;
  border-radius: 10px;
}
.Specail-coffee .coffee-2 img {
  margin-left: 100px;
  margin-bottom: 36px;
}

@media screen and (max-width: 768px) {
  .Specail-coffee .buy h1 {
    font-size: 20px;
  }
  .Specail-coffee .buy button {
    width: 100px;
    height: 40px;
    margin-top: 20vh;
    border-radius: 10px;
  }
}/*# sourceMappingURL=coffee.css.map */