* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
}

nav {
  display: flex;
  width: 100%;
  height: 100px;
  color: white;
  background: #560000;
  position: fixed;
  top: 0;
  left: 0;
}
nav .navbar-left {
  padding-left: 40px;
  display: flex;
  gap: 40px;
  align-items: center;
  flex: 1;
}
nav .navbar-left h1 {
  color: white;
}
@media screen and (max-width: 768px) {
  nav .navbar-left h1 {
    font-size: 21px;
  }
}
@media screen and (max-width: 620px) {
  nav .navbar-left h1 {
    font-size: 13px;
    padding-right: 20px;
  }
}
nav .navbar-left img {
  width: 85px;
  height: 80px;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  nav .navbar-left img {
    width: 50px;
    height: 45px;
  }
}
@media screen and (max-width: 620px) {
  nav .navbar-left img {
    width: 45px;
    height: 40px;
  }
}
@media screen and (max-width: 620px) {
  nav .navbar-left {
    gap: 15px;
    padding-left: 10px;
  }
}
nav .navbar-right {
  flex: 1.3;
  display: flex;
  align-items: center;
  padding-right: 40px;
}
nav .navbar-right ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
nav .navbar-right ul li {
  list-style: none;
  display: flex;
}
nav .navbar-right ul li a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  nav .navbar-right ul li a {
    font-size: 21px;
  }
}
@media screen and (max-width: 620px) {
  nav .navbar-right ul li a {
    font-size: 16px;
  }
}
nav .navbar-right ul .dropdown h1 {
  font-size: 30px;
  background: #000;
}
@media screen and (max-width: 620px) {
  nav .navbar-right ul .dropdown h1 {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  nav {
    height: 10vh;
    width: 100%;
  }
}
header {
  width: 100%;
  height: 500px;
  background-image: url("../image/image 6.png");
  background-size: cover;
}

.dropbtn {
  padding: 16px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px black;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

body {
  background: #BD8A5B;
  font-family: Arial, Helvetica, sans-serif;
}

.tea {
  color: white;
  display: grid;
  grid-template-rows: 0.6fr 1fr;
  height: 85vh;
  font-size: 15px;
  padding-right: 40px;
  padding-top: 20vh;
}
.tea .header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
@media screen and (max-width: 768px) {
  .tea .header {
    margin-top: 5px;
    height: 40px;
    margin-left: 10vh;
  }
}
@media screen and (max-width: 620px) {
  .tea .header {
    font-size: 25px;
    width: 50vh;
    margin-left: 5vh;
  }
}
.tea img {
  width: 90vh;
}
@media screen and (max-width: 768px) {
  .tea img {
    width: 45vh;
    margin-top: -200px;
  }
}
@media screen and (max-width: 620px) {
  .tea img {
    width: 30vh;
    margin-top: -150px;
  }
}
.tea .in {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 65px;
}
.tea .in .right {
  display: grid;
  grid-template-rows: 0.2fr 0.6fr;
}
.tea .in .right h1 {
  font-size: 15px;
}
@media screen and (max-width: 768px) {
  .tea .in .right h1 {
    padding-left: 55px;
    margin-top: -200px;
  }
}
@media screen and (max-width: 620px) {
  .tea .in .right h1 {
    font-size: 15px;
    margin-top: -150px;
  }
}
.tea .in .right .paragraph {
  font-size: 15px;
  padding-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .tea .in .right .paragraph {
    display: none;
  }
}
@media screen and (max-width: 620px) {
  .tea .in .right .paragraph {
    display: none;
  }
}
.tea .in .right .size {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 22px;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .tea .in .right .size {
    padding-left: 55px;
    margin-top: -200px;
    height: 50px;
    font-size: 10px;
  }
}
@media screen and (max-width: 620px) {
  .tea .in .right .size {
    padding-left: 55px;
    margin-top: -170px;
    height: 40px;
  }
}
.tea .in .right .star {
  display: flex;
  flex-direction: row;
}
.tea .in .right .star .color {
  color: yellow;
  font-size: 20px;
}
.tea .in .right .star .color .fa:nth-child(5) {
  color: black;
}
@media screen and (max-width: 768px) {
  .tea .in .right .star {
    position: absolute;
    top: 62vh;
    padding-left: 55px;
  }
  .tea .in .right .star .color {
    font-size: 15px;
  }
}
@media screen and (max-width: 620px) {
  .tea .in .right .star {
    position: absolute;
    top: 57vh;
    padding-left: 55px;
  }
  .tea .in .right .star .color {
    font-size: 10px;
  }
}

.product {
  display: grid;
  grid-template-rows: 0.2fr 1fr;
  justify-items: center;
}
.product h1 {
  border: 1px solid rgb(224, 206, 206);
  background-color: rgb(224, 206, 206);
  padding: 20px;
  border-radius: 10px;
  color: black;
  width: 30%;
  text-align: center;
  margin-top: 100px;
}

@media screen and (max-width: 768px) {
  .product {
    margin-top: -330px;
  }
}
@media screen and (max-width: 620px) {
  .product {
    margin-top: -320px;
    width: 100vh;
    margin-left: -130px;
  }
}
.Tea-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
}
@media screen and (max-width: 768px) {
  .Tea-menu {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.Tea-menu .Group {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}
@media screen and (max-width: 768px) {
  .Tea-menu .Group {
    padding-top: -30px;
  }
}
@media screen and (max-width: 620px) {
  .Tea-menu .Group {
    display: grid;
    grid-template-columns: 1.5fr;
  }
}
.Tea-menu .Group img {
  margin-top: 20px;
}
@media screen and (max-width: 620px) {
  .Tea-menu .Group img {
    margin-top: 2px;
    width: 30vh;
    margin-left: 98px;
  }
}
.Tea-menu .Group .right {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 20px;
}
@media screen and (max-width: 620px) {
  .Tea-menu .Group .right {
    margin-left: 98px;
  }
  .Tea-menu .Group .right p {
    display: none;
  }
  .Tea-menu .Group .right .select {
    display: none;
  }
}
.Tea-menu .Group .right .select {
  margin-top: 8%;
}
@media screen and (max-width: 768px) {
  .Tea-menu .Group .right .select {
    margin-top: 5%;
  }
}
@media screen and (max-width: 620px) {
  .Tea-menu .Group .right .select {
    margin-top: 3%;
  }
}
.Tea-menu .Group .right .select select {
  width: 20vh;
  height: 30px;
  border-radius: 10px;
}
.Tea-menu .Group .right .select input[type=text] {
  width: 8%;
  height: 60%;
  text-align: center;
  margin-left: 90px;
}
.Tea-menu .Group .right .select button {
  background: blue;
  color: white;
  width: 25%;
  height: 70%;
  border-radius: 5px;
}

.Source-of-tea-leaf-origin {
  background: rgba(255, 255, 0, 0.264);
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 50px;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .Source-of-tea-leaf-origin {
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px;
  }
}
@media screen and (max-width: 620px) {
  .Source-of-tea-leaf-origin {
    display: none;
  }
}
.Source-of-tea-leaf-origin img {
  background: rgba(212, 208, 208, 0.53);
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .Source-of-tea-leaf-origin {
    padding-left: 130px;
  }
}
.Source-of-tea-leaf-origin .text {
  color: white;
  margin: 20px;
  font-size: 30px;
}
.Source-of-tea-leaf-origin h1 {
  margin-bottom: 40px;
}/*# sourceMappingURL=tea.css.map */