@import "./navbar.scss";
body{
    background-color: #BD8A5B;
    color: white;
}

.backery {
    display: grid;
    grid-template-rows: 0.6fr 1fr;
    height: 85vh;
    padding-right: 40px;
    padding-top:95px;
    .header{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        
    }
    
    img {
        width: 90vh;
        &:hover {
            padding:4px 10px;
        }
    }

    .in {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 65px;


        .right {
            h1{
                font-size: 25px;
                
            }

            display: grid;
            grid-template-rows: 0.2fr 0.3fr 0.3fr;

            .paragraph {
                font-size: 20px;
                padding-bottom: 50px;
              
            }

            .size {
                display: grid;
                grid-template-columns: 1fr 1fr;
                font-size: 22px;

            }

            .star {
                display: flex;
                flex-direction: row;

                .color {

                    color: yellow;
                    font-size: 20px;

                    .fa:nth-child(5) {
                        color: black;
                    }
                }


            }
        }
    }
}
// @include tablet{
//     .backery{
//         height: 25vh;
//     }
// }

.product { 
    display: grid;
    grid-template-rows: 0.2fr 7fr;  
    justify-items: center;
    height: 360vh;
    padding-left: 45px;
    padding-right: 45px;
    
 

    .backery-h1 {
        border: 1px solid rgb(224, 206, 206);
        padding: 20px;
        background-color: rgb(224, 206, 206);
        border-radius: 10px;
        color: black;
        width: 30%;
        text-align: center;
        &:hover {
            // border-bottom: 2px solid rgb(245, 0, 0);
            padding: 10px;
            background-color: pink;
            
           
        }

    }

    .img {

        .butter1,
        .butter2,
        .butter3,
        .butter4,
        .butter5,
        .butter6,
        .butter7 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-top: 100px;

        }

        .butter2,
        .butter4,
        .butter6 {
            display: grid;
            justify-items: end;
        }

        img {
            width: 70vh;
        }
        .text p {
            font-size: 20px;
            padding-top: 30px;

        }
        .text,h1{
            font-size: 30px;
        }

        .price-backery {
            display: grid;
            grid-template-columns: 1fr 1fr;
            
            
        }
    }
}
