@import "../SASS/components/navbar.scss";
@import"./components/responsive.scss";

body {
    background-color: #BD8A5B;
    color: white;
}

.backery {
    display: grid;
    grid-template-rows: 0.6fr 1fr;
    height: 85vh;
    padding-right: 40px;
    padding-top: 95px;

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;

    }

    @include responsive('Tablet') {
        .header {
            font-size: 25px;
        }
    }

    @include responsive('Mobile') {
        .header {
            font-size: 17px;
        }
    }

    img {
        width: 90vh;
    }

    @include responsive('Tablet') {
        img {
            width: 40vh;
            padding-right: 60px;
        }

    }

    @include responsive ('Mobile') {
        img {
            width: 30vh;
        }
    }

    .in {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 65px;

        .right {
            h1 {
                font-size: 25px;

            }

            @include responsive('Tablet') {
                h1 {
                    font-size: 20px;
                    padding-bottom: 20px;
                }
            }

            @include responsive ('Mobile') {
                h1 {
                    font-size: 15px;
                }
            }

            .paragraph {
                font-size: 20px;
                padding-bottom: 50px;

            }

            @include responsive('Tablet') {
                .paragraph {
                    display: none;
                }
            }

            .size {
                display: grid;
                grid-template-columns: 1fr 1fr;
                font-size: 22px;

            }

            @include responsive('Tablet') {
                .size {
                    padding-bottom: 20px;

                }
            }

            @include responsive('Mobile') {
                .size {
                    font-size: 17px;
                }
            }

            .star {
                display: flex;
                flex-direction: row;

                .color {

                    color: yellow;
                    font-size: 20px;

                    .fa:nth-child(5) {
                        color: black;
                    }
                }
            }

            @include responsive('Tablet') {
                .star {
                    padding-bottom: 20px;

                }
            }

        }

        @include responsive ('Mobile') {
            .right {
                padding: 20px 0 0 0px;
            }
        }

    }

    @include responsive('Tablet') {
        .in {

            padding: 1px;
            display: grid;
            grid-template-rows: 0.2fr;
            padding-top: 30px;
            padding-bottom: 100px;
        }
    }

    @include responsive('Tablet') {
        .in {
            padding-top: 40px;
        }
    }

    @include responsive('Tablet') {}

}

@include responsive('Tablet') {
    .backery {
        display: grid;
        height: 40vh;
    }
}

@include responsive('Mobile') {
    .backery {
        width: 100%;
        height: 35vh;
    }

}


.product {
    display: grid;
    grid-template-rows: 0.2fr 7fr;
    justify-items: center;
    height: 360vh;
    padding-left: 45px;
    padding-right: 45px;

    .backery-h1 {
        border: 1px solid rgb(224, 206, 206);
        padding: 20px;
        background-color: rgb(224, 206, 206);
        border-radius: 10px;
        color: black;
        width: 30%;
        text-align: center;

        &:hover {
            padding: 10px;
        }
    }

    @include responsive('Tablet') {
        .backery-h1 {
            height: 10%;
            font-size: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    @include responsive('Mobile') {
        .backery-h1 {
            font-size: 19px;
            width: 75%;
        }
    }

    .img {

        .butter1,
        .butter2,
        .butter3,
        .butter4,
        .butter5,
        .butter6,
        .butter7 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-top: 100px;

        }

        @include responsive('Tablet') {

            .butter1,
            .butter2,
            .butter3,
            .butter4,
            .butter5,
            .butter6,
            .butter7 {
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding-top: 20px;
                gap: 90px;
            }
        }

        @include responsive('Mobile') {

            .butter1,
            .butter2,
            .butter3,
            .butter4,
            .butter5,
            .butter6,
            .butter7 {

                display: flex;
                flex-direction: column;
                text-align: justify;

            }
        }


        .butter2,
        .butter4,
        .butter6 {
            display: grid;
            justify-items: end;
        }

        @include responsive('Mobile') {

            .butter2,
            .butter4,
            .butter6 {

                display: grid;
                grid-template-columns: 1fr;
                grid-template-areas:
                    'image'
                    'text'
                ;

                img {
                    grid-area: image;
                }

                h1 {
                    align-items: end;
                }
            }
        }

        img {
            width: 70vh;
        }

        @include responsive('Tablet') {
            img {
                width: 30vh;
                display: flex;
                justify-content: center;
            }
        }

        @include responsive('Mobile') {
            img {
                width: 40vh;
                place-self: center
            }
        }


        .dicribetion {
            font-size: 20px;
            padding-top: 30px;

        }

        @include responsive('Tablet') {
            .dicribetion {
                display: none;


            }
        }

        @include responsive('Mobile') {
            .text p {
                display: block;
                font-size: 16px;
                padding: 10px;
            }
        }


        .text,
        h1 {
            font-size: 30px;
        }

        @include responsive('Tablet') {
            h1 {
                font-size: 20px;

            }

        }

        @include responsive('Mobile') {
            h1 {
                font-size: 16px;
                display: flex;
                justify-content: center;

            }
        }

        .price-backery {
            display: grid;
            grid-template-columns: 1fr 1fr;


        }

        @include responsive('Tablet') {
            .price-backery {
                font-size: 18px;
                padding-bottom: 20px;
                gap: 30px 30px;
                padding-top: 10px;
            }
        }

        @include responsive('Mobile') {
            font-size: 15px;

        }

    }

}

@include responsive('Tablet') {
    .product {
        display: grid;
        height: 142vh;
        padding-top: 50px;

    }
}
@include responsive('Mobile') {
    .product {
        height: 320vh;
    }
}