@import"./components/navbar";
@import"components/responsive.scss";

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    background: $orange-color;
    font-family: Arial, Helvetica, sans-serif;
}

.COFFEE {
    color: $white-color;
    display: grid;
    grid-template-rows: 0.6fr 1fr;
    height: 85vh;
    font-size: 15px;
    padding-right: 40px;
    padding-top: 20vh;

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;

    }

    @include responsive('Tablet') {
        h1 {
            margin-top: 5px;
            height: 40px;
            margin-left: 10vh;
        }
    }
    @include responsive('Mobile') {
        h1 {
            font-size: 25px;
            width: 50vh;
            margin-left: 5vh;
        }
    }

    img {
        width: 90vh;
    }

    @include responsive('Tablet') {
        img {
            width: 45vh;
            margin-top: -200px;
        }
    }
    @include responsive('Mobile') {
        img {
            width: 30vh;
            margin-top: -150px;
        }
    }

    .in {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 65px;

        .right {
            display: grid;
            grid-template-rows: 0.2fr 0.6fr;

            h1 {
                font-size: 15px;

            }

            @include responsive('Tablet') {
                h1 {
                    font-size: 15px;
                    margin-left: 10px;
                    margin-top: -200px;
                }
            }
            @include responsive('Mobile') {
                h1 {
                    font-size: 15px;
                    margin-top: -150px;
                }
            }


            .paragraph {
                font-size: 20px;
                padding-bottom: 50px;

            }

            @include responsive('Tablet') {
                .paragraph {
                    display: none;
                }
            }
            @include responsive('Mobile') {
                .paragraph {
                    display: none;
                }
            }

            .size {
                display: grid;
                grid-template-columns: 1fr 1fr;
                font-size: 22px;
                gap: 10px;

            }

            @include responsive('Tablet') {
                .price {
                    display: grid;
                    grid-template-rows: 1fr 1fr 1fr;
                    margin-top: -140px;
                    margin-left: 8vh;
                }
            }
            @include responsive('Mobile') {
                .price {
                    padding-left: 55px;
                    margin-top: -170px;
                    height: 40px;
                }
            }

            .star {
                display: flex;
                flex-direction: row;

                .color {

                    color: $yellow-color;
                    font-size: 20px;

                    .fa:nth-child(5) {
                        color: $balck-color;
                    }
                }


            }

            @include responsive('Tablet') {
                .star {
                    position: absolute;
                    top: 67vh;
                    padding-left: 73px;

                    .color {
                        font-size: 18px;
                    }
                }
            }
            @include responsive('Mobile') {
                .star {
                    position: absolute;
                    top: 57vh;
                    padding-left: 55px;

                    .color {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}

.product {
    display: grid;
    grid-template-rows: 0.2fr 2fr;
    justify-items: center;
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 20vh;

    h1 {
        border: 1px solid $wheth-color;
        padding: 20px;
        background-color: $wheth-color;
        border-radius: 10px;
        color: $balck-color;
        width: 30%;
        text-align: center;
    }
}

@include responsive('Tablet') {
    .product {
        margin-top: -220px;
        margin-bottom: -80px;
    }
}
@include responsive('Mobile') {
    .product {
        margin-top: -250px;
        width: 100vh;
        margin-left: -200px;
    }
}

.coffee-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color:$white-color;
    margin: 20px;

    @include responsive('Tablet') {
        display: grid;
        grid-template-columns: 1fr;
    }

    .Group {
        display: grid;
        grid-template-columns: 0.5fr 1fr;

        @include responsive('Tablet') {
            padding-top: -30px;
        }
        @include responsive('Mobile') {
            display: grid;
            grid-template-columns: 1.5fr;
        }

        img {
            margin-top: 50px;
        }
        @include responsive('Mobile') {
            img {
                margin-top: 2px;
                width: 30vh;
                margin-left: 60px;
            }
        }

        .right {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            @include responsive('Mobile') {
                margin-left: 98px;
                p {
                    display: none;
                }
                .select{
                    display: none;
                }
            }

            h1 {
                margin-top: 42px;
            }

            .select {
                margin-top: 8%;

                @include responsive('Tablet') {
                    margin-top: 5%;
                }
                @include responsive('Mobile') {
                    margin-top: 3%;
                }


                select {
                    width: 20vh;
                    height: 30px;
                    border-radius: 10px;
                }

                input[type=text] {
                    width: 8%;
                    height: 50%;
                    text-align: center;
                    margin-left: 90px;
                }

                button {
                    background: $blue-color;
                    color: $white-color;
                    width: 25%;
                    height: 60%;
                    border-radius: 5px;
                }
            }
        }
    }
}

.Specail-coffee {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 40px;
    color: $white-color;

    .buy {
        h1 {
            font-size: 50px;
        }

        button {
            background: $red-color;
            width: 150px;
            height: 50px;
            margin-top: 20vh;
            border-radius: 10px;
        }
    }

    .coffee-2 {
        img {
            margin-left: 100px;
            margin-bottom: 36px;
        }
    }
}

@include responsive('Tablet') {
    .Specail-coffee {
        display: grid;
        grid-template-columns: 2fr 2fr;

        img {
            width: 25vh;
        }

        .buy {
            h1 {
                font-size: 40px;
            }

            button {
                width: 130px;
                height: 60px;
                margin-top: 13vh;
            }
        }

        .coffee-2 {
            img {
                display: none;
            }

            h2 {
                display: none;
            }
        }
    }
}
@include responsive('Mobile') {
    .Specail-coffee {
        img {
            width: 20vh;
            margin-right: 40px;
        }

        .buy {
            h1 {
                font-size: 18px;
            }

            button {
                width: 100px;
                height: 50px;
                margin-top: 10vh;
            }
        }
    }
}