@import"./components/navbar.scss";
@import"components/responsive.scss";

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    background: rgba(189, 138, 91, 1);
}

.COFFEE {
    color: white;
    display: grid;
    grid-template-rows: 0.6fr 1fr;
    height: 85vh;
    font-size: 20px;
    padding-right: 40px;
    padding-top: 20vh;

    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;

    }
    @include responsive('Tablet') {
        h1 {
            margin-top: 5px;
            height: 40px;
            margin-left: 10vh;
        }
    }

    img {
        width: 90vh;
    }
    @include responsive('Tablet') {
        img {
            width: 45vh;
            margin-top: -200px;
        }
    }

    .in {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 65px;

        .right {
            display: grid;
            grid-template-rows: 0.2fr 0.6fr;

            h1 {
                font-size: 25px;

            }
            @include responsive('Tablet') {
                h1 {
                    padding-left: 55px;
                    margin-top: -200px;
                }
            }


            .paragraph {
                font-size: 20px;
                padding-bottom: 50px;

            }
            @include responsive('Tablet') {
                .paragraph {
                    display: none;
                }
            }

            .size {
                display: grid;
                grid-template-columns: 1fr 1fr;
                font-size: 22px;
                gap: 10px;

            }
            @include responsive('Tablet') {
                .size {
                    padding-left: 55px;
                    margin-top: -100px;
                    height: 80px;
                }
            }

            .star {
                display: flex;
                flex-direction: row;

                .color {

                    color: yellow;
                    font-size: 20px;

                    .fa:nth-child(5) {
                        color: black;
                    }
                }


            }
            @include responsive('Tablet') {
                .star {
                    position: absolute;
                    top: 62vh;
                    padding-left: 55px;

                    .color {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

.product {
    display: grid;
    grid-template-rows: 0.2fr 2fr;
    justify-items: center;
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 20vh;

    h1{
        border: 1px solid rgb(224, 206, 206);
        padding: 20px;
        background-color: rgb(224, 206, 206);
        border-radius: 10px;
        color: black;
        width: 30%;
        text-align: center;
    }
}
@include responsive('Tablet') {
    .product {
        margin-top: -220px;
        margin-bottom: -80px;
    }
}

.coffee-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    margin: 20px;
    @include responsive('Tablet') {
        display: grid;
        grid-template-columns: 1fr;
    }

    .Group {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        @include responsive('Tablet') {
            padding-top: -30px;
        }

        img{
            margin-top: 50px;
        }

        .right {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            h1{
                margin-top: 42px;
            }

            .select {
                margin-top: 8%;
                @include responsive('Tablet') {
                    margin-top: 5%;
                }

                select {
                    width: 20vh;
                    height: 30px;
                    border-radius: 10px;
                }

                input[type=text] {
                    width: 8%;
                    height: 50%;
                    text-align: center;
                    margin-left: 90px;
                }

                button {
                    background: rgb(47, 47, 129);
                    color: white;
                    width: 25%;
                    height: 60%;
                    border-radius: 5px;
                }
            }
        }
    }
}

.Specail-coffee {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 40px;
    color: white;

    .buy {
        h1 {
            font-size: 50px;
        }

        button {
            background: red;
            width: 150px;
            height: 50px;
            margin-top: 20vh;
            border-radius: 10px;
        }
    }

    .coffee-2 {
        img {
            margin-left: 100px;
            margin-bottom: 36px;
        }
    }
}
@include responsive('Tablet') {
    .Specail-coffee{
        .buy{
            h1 {
                font-size: 20px;
            }
    
            button {
                width: 100px;
                height: 40px;
                margin-top: 20vh;
                border-radius: 10px;
            }
        }
    }
}