@import"./components/navbar.scss";
@import"../SASS/components/responsive.scss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #581B03;
}

.contact {
   
    width: 100%;
    height: 115vh;
    display: grid;
    grid-template-rows: 1fr 8fr;
    padding: 110px 70px 0 70px;

    .title {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        color: white;

        h1 {
            display: flex;
            justify-content: end;
            padding-bottom: 40px;
        }
        @include responsive('Tablet'){
            h1{
                font-size: 20px;
            }
        }

    }

    .form-map {
        color: white;
        display: grid;
        gap: 40px;
        grid-template-columns: 1fr 1.3fr;
        form {
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            row-gap: 30px;
            width: 100%;
            height: 77vh;
            box-shadow: rgb(249, 249, 249);
            background: #c0bebe8a;
            padding: 30px 50px;
            h2{
                background: #c0bebe00;
            }

            input {
                width: 100%;
                height: 50px;
                outline: none;
                border: none;
                padding: 10px 6px;
                border-bottom: 2px solid #7E3316 ;
                box-shadow: rgb(249, 249, 249);
                background: #b7b1b100;
                color: white;
                &::placeholder{
                    color: white;
                    
                }

            }

            textarea {
                width: 100%;
                height: 150px;
                padding: 10px 20px;
                border-radius: 5px;
                border: none;
                outline: none;
                background:#7E3316;
                color: white;
                &::placeholder{
                    color: white;
                }
            }

            button {
                width: 100px;
                height: 50px;
                border-radius: 5px;
                border: none;
                background: #7E3316;
                color: white;

            }
        }

        iframe {
            border-radius: 30px;
        }
    }

}
@include responsive('Tablet'){
    .contact{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-rows: 1fr 8fr;
        padding: 110px 70px 50px 70px;
        .form-map {
            display: grid;
            grid-template-columns: 1fr;
            form{
                height: auto;
            }
            iframe{
                height: 250px
            }
        }
    }
}
@include responsive('Mobile'){
    .contact{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-rows: 1fr 8fr;
        padding: 110px 70px 50px 70px;
        .form-map {
            display: grid;
            grid-template-columns: 1fr;
            form{
                height: auto;
            }
            iframe{
                display: none;
            }
        }
    }
}
@import"./footer.scss";


