footer{
    background-color:blue;
    height: 40vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .footer-left{
        background-color: aqua;
        padding-left: 20px;
        .list{
            display: grid;
            gap: 20px;
            padding-top: 20px;
        }
        
    }
    .footer-center {
        background-color: brown;
        display: flex;
        flex-direction: column;
        font-size: 30px;
        gap: 30px;
        padding-top: 20px;
        
        .center-icons{
            display: flex;
    
        }
        p{
            font-size: 20px;
        }
        span{
            font-size: 20px;
        }

    }
    .footer-right{
        // h2{
        //     display: flex;
        //     justify-content: center;
        // }
        padding-left: 20px;
        background-color: pink;
        p{
            padding-top: 20px;
        }
        .footer-icon{
            padding-top: 45px;
            display: flex;
            flex-direction: row;
            font-size: 35px;
            gap: 30px;
        }
    }
}