@import"./components/navbar";
@import"./components/responsive.scss";

body {
  background-color: #581B03;
  font-family: Arial, Helvetica, sans-serif;
}

header {

  width: 100%;
  height: 620px;
  background-image: url(../image/background.png);
  background-size: cover;
  height: 500px;
  padding-top: 120px;
  background-image: url("../image/background.png");
  background-size: 1370px 650px;
  background-repeat: no-repeat;
  position: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  .base {
    flex-direction: column;
    margin: 0px 0 0 40px;
    display: flex;
    padding-bottom: 20px;

    h1 {

      margin-top: 50px;
      font-size: 30px;
      width: 400px;
      background: #000;
      color: white;
    }

    P {
      font-size: 20px;
      margin-top: 25px;
      color: white;
      width: 300px;
    }
  }

  .car {
    margin-left: 40px;
    margin-top: 30px;
    width: 250px;
    font-size: 20px;
    color: white;
    background: #070707b3;

    .card {
      padding: 20px;
    }
  }

}

@include responsive('Tablet') {
  header {
    width: 100%;

  }
}

@include responsive('Mobile') {
  header {
    width: 100%;

  }
}


.head {
  display: flex;
  justify-content: center;
  color: white;
  flex-direction: column;

  h2 {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 50px;
    font-size: 40px;
  }

  .menu {
    height: 75vh;
    display: flex;
    justify-content: space-evenly;

    .content {
      height: 100%;

      .card {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        width: 350px;
        height: 430px;
        background: #D9D9D9;

        .content-us {
          display: flex;
          flex-direction: column;

          .name {
            display: flex;
            justify-content: center;

            span {
              color: black;
              font-size: 30px;
              font-weight: bold;
            }

            title {
              color: white;
            }
          }

          .price {
            display: flex;
            justify-content: space-between;
            padding: 10px 20px 0 20px;
            color: black;
            font-size: 25px;

          }

          .icon {
            display: flex;

            img {
              width: 30px;
            }
          }

        }
      }

      @include responsive('Tablet') {
        .card {
          width: 260px;
          height: 400px;
        }
      }

      @include responsive('Mobile') {
        .card {
          height: 325px;
        }
      }

      .title {
        display: flex;
        justify-content: center;
        padding-top: 40px;

      }
    }
  }

  @include responsive('Mobile') {
    .menu {
      flex-direction: column;
      height: auto;
      justify-content: center;
      align-items: center;
      gap: 30px;

    }
  }
}


.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 80px;
  color: white;
  h3 {
    font-size: 40px;
  }
  .card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 26%;
    margin: 30px;
    .latte {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      img {
        margin-top: 75px;
        width: 260px;
        height: 50vh;
        margin-left: 25px;
      }
      h4{
        position: absolute;
        padding-top: 360px;
      }
    }
    .green-tea {
      display: flex;
      flex-direction: column;
      img {
        padding-right: 40px;
        width: 200px;
        top: 0;
        height:400px;
       
      }
      h4{
        z-index: 1;
        position: absolute;
        padding-top: 360px;
        padding-left: 20px;
      }
    }

    .bakery {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center ;

      img {
        display: flex;
        margin-right: 45px;
        margin-top: 30%;
        height: 38vh;
      }

      h4 {
        align-items: center;
        margin-top: 5px;
      }
    }
  }
}