*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    display:flex;
    width: 100%;
    height: 100px;
    color: white;
    background: #560000;
   .navbar-left {
    padding-left: 40px;
    display: flex;
    gap: 40px;
    align-items: center;
    flex: 1.2;
    img{
        width: 85px;
        height: 80px;
        border-radius: 50%;
    }
    
    
   }
   .navbar-right{
    flex:1;
    display: flex;
    align-items: center;
    padding-right: 40px;
    

    ul{
        width: 100%;
        display: flex;
        justify-content: space-between;
        
        li{
            list-style: none;
            display: flex;
            a{
                text-decoration: none;
                color: white;
                font-size: 25px;
                font-weight: bold;
            }
        }
    }
   }
}
header{
    width: 100%;
    height: 500px;
    background-image: url("../image/image\ 6.png");
    background-size: cover;
    
}