@import"../SASS/components/navbar";
@import"components/responsive.scss";
@import"components/variables.scss";

body {
    background: $orange-color;
    font-family: Arial, Helvetica, sans-serif;
}

.tea {
    color: $white-color;
    display: grid;
    grid-template-rows: 0.6fr 1fr;
    height: 85vh;
    font-size: 15px;
    padding-right: 40px;
    padding-top: 20vh;

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;

    }

    @include responsive('Tablet') {
        .header {
            margin-top: 5px;
            height: 40px;
            margin-left: 10vh;
        }
    }

    @include responsive('Mobile') {
        .header {
            font-size: 25px;
            width: 50vh;
            margin-left: 5vh;
        }
    }

    img {
        width: 90vh;
    }

    @include responsive('Tablet') {
        img {
            width: 45vh;
            margin-top: -200px;
        }
    }

    @include responsive('Mobile') {
        img {
            width: 30vh;
            margin-top: -150px;
        }
    }

    .in {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 65px;

        .right {
            display: grid;
            grid-template-rows: 0.2fr 0.2fr 0.1fr 0.1fr;

            h1 {
                font-size: 25px;
            }

            @include responsive('Tablet') {
                h1 {
                    padding-left: 55px;
                    margin-top: -200px;
                }
            }

            @include responsive('Mobile') {
                h1 {
                    font-size: 15px;
                    margin-top: -150px;
                }
            }


            .paragraph {
                font-size: 20px;
                padding-bottom: 50px;
                padding-top: 20px;

            }

            @include responsive('Tablet') {
                .paragraph {
                    display: none;
                }
            }

            @include responsive('Mobile') {
                .paragraph {
                    display: none;
                }
            }

            .size {
                display: grid;
                grid-template-columns: 1fr 1fr;
                font-size: 22px;
                gap: 10px;
            }

            @include responsive('Tablet') {
                .size {
                    padding-left: 55px;
                    margin-top: -200px;
                    height: 50px;
                    font-size: 10px;
                }
            }

            @include responsive('Mobile') {
                .size {
                    padding-left: 55px;
                    margin-top: -170px;
                    height: 40px;
                }
            }


            .star {
                display: flex;
                flex-direction: row;

                .color {

                    color: $yellow-color;
                    font-size: 20px;

                    .fa:nth-child(5) {
                        color: $balck-color;
                    }
                }


            }

            @include responsive('Tablet') {
                .star {
                    position: absolute;
                    top: 62vh;
                    padding-left: 55px;

                    .color {
                        font-size: 15px;
                    }
                }
            }

            @include responsive('Mobile') {
                .star {
                    position: absolute;
                    top: 57vh;
                    padding-left: 55px;

                    .color {
                        font-size: 10px;
                    }
                }
            }

        }
    }
}


.product {
    display: grid;
    grid-template-rows: 0.2fr 1fr;
    justify-items: center;

    h1 {
        border: 1px solid $wheth-color;
        background-color: $wheth-color;
        padding: 20px;
        border-radius: 10px;
        color: $balck-color;
        width: 30%;
        text-align: center;
        margin-top: 100px;
    }
}

@include responsive('Tablet') {
    .product {
        margin-top: -330px;
    }
}

@include responsive('Mobile') {
    .product {
        margin-top: -320px;
        width: 100vh;
        margin-left: -130px;
    }
}

.Tea-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: $white-color;

    @include responsive('Tablet') {
        display: grid;
        grid-template-columns: 1fr;
    }

    .Group {
        display: grid;
        grid-template-columns: 0.5fr 1fr;

        @include responsive('Tablet') {
            padding-top: -30px;
        }

        @include responsive('Mobile') {
            display: grid;
            grid-template-columns: 1.5fr;
        }


        img {
            margin-top: 20px;
        }

        @include responsive('Mobile') {
            img {
                margin-top: 2px;
                width: 30vh;
                margin-left: 98px;
            }
        }

        .right {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            margin: 20px;

            @include responsive('Mobile') {
                margin-left: 98px;

                p {
                    display: none;
                }

                .select {
                    display: none;
                }
            }

            .select {
                margin-top: 8%;

                @include responsive('Tablet') {
                    margin-top: 5%;
                }

                @include responsive('Mobile') {
                    margin-top: 3%;
                }

                select {
                    width: 20vh;
                    height: 30px;
                    border-radius: 10px;
                }

                input[type=text] {
                    width: 8%;
                    height: 60%;
                    text-align: center;
                    margin-left: 90px;
                }

                button {
                    background: $blue-color;
                    color: $white-color;
                    width: 25%;
                    height: 70%;
                    border-radius: 5px;
                }
            }
        }
    }
}

.Source-of-tea-leaf-origin {
    background: $green-color;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px;
    border-radius: 10px;

    @include responsive('Tablet') {
        display: grid;
        grid-template-columns: 1fr;
        margin: 10px;
    }

    @include responsive('Mobile') {
        display: none;
    }

    img {
        background: $puple-color;
        border-radius: 10px;
    }

    @include responsive('Tablet') {
        padding-left: 130px;
    }


    .text {
        color: $white-color;
        margin: 20px;
        font-size: 30px;
    }

    h1 {
        margin-bottom: 40px;
    }
}