@import"../css/navbar.css";

.backery {
    display: grid;
    grid-template-rows: 0.6fr 1fr;
    height: 85vh;
    padding-right: 40px;
    padding-top:95px;
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        
    }



    img {
        width: 90vh;
    }

    .in {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 65px;

        .right { 
            display: grid;
            grid-template-rows: 0.2fr 0.6fr ;

            h1{
                font-size: 25px;
                
            }
           

            .paragraph {
                font-size: 20px;
                padding-bottom: 50px;
              
            }

            .size {
                display: grid;
                grid-template-columns: 1fr 1fr;
                font-size: 22px;
                gap: 10px;

            }

            .star {
                display: flex;
                flex-direction: row;

                .color {

                    color: yellow;
                    font-size: 20px;

                    .fa:nth-child(5) {
                        color: black;
                    }
                }


            }
        }
    }
}
.product { 
    display: grid;
    grid-template-rows: 0.2fr 7fr;  
    justify-items: center;
    height: 360vh;
    padding-left: 45px;
    padding-right: 45px;
    background-color: blue;
 

    .backery-h1 {
        border: 1px solid rgb(224, 206, 206);
        padding: 20px;
        background-color: rgb(224, 206, 206);
        border-radius: 10px;
        color: black;
        width: 30%;
        text-align: center;
        

    }
}