$balck-color:black;
$white-color:white;
$wheth-color:rgb(224, 206, 206);
$orange-color:#BD8A5B;
$brown-color:#560000;
$yellow-color:yellow;
$gray-color:#c0bebe8a;
$main-color:rgb(249, 249, 249);
$blue-color:blue;
$blow-color:#c0bebe00;
$red-color: red;
$green-color:rgba(255, 255, 0, 0.264);
$puple-color:rgba(212, 208, 208, 0.53);
